.home__hero-intro{
    width:50%;
    padding-top:100px;
    margin-left:90px;
    @include breakpoint-down(small){
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    &-title{
        width:55%;
        @include breakpoint-down(small){
            width: 80%;
        }
        @media (max-width:1000px) and (max-height:500px) and (orientation:landscape){
            width: 100%;
        }
    }
    &-desc{
        width:110%;
        color:rgba(#000000,0.6)
    }
    &-btn{
        margin:20px 0px;
        width:200px;
        padding:10px;
        color:white;
        background-color:black;
        border-radius:25px;
        border:0px;
        outline:none;
        &:active,&:focus{
            border:0px;
            outline:none;
        }
        @include breakpoint-down(small){
            width: 100%;
        }
    }
}