.product{
    width: calc(25% - 40px);
    margin:20px;
    @include breakpoint-down(small){
        width: calc(50% - 40px);
        h3{
            font-size: pxToRem(14);
        }
    }
    @media (max-width:1024px) and (max-height:600px) and (orientation:landscape){
        width: calc(50% - 40px);
        h3{
            font-size: pxToRem(14);
        }
    }
    &__img{
        overflow: hidden;
        border-radius: 25px;
        height: 300px;
    }
    svg{
        width: 20px;
        height: 20px;
        color:yellow;
    }
    &__rating{
        position: relative;
        top:0px;
        left:0px;
        @include breakpoint-down(small){
            font-size: pxToRem(12);
            span{
                position: relative;
                top:-3px;
                left:0px;
            }
        }
        span{
            margin-left: 10px;
        }
    }
    &__rating-mask{
        position: absolute;
        top:0px;
        left:-20px;
        background-color: white;
        width: 10px;
        height: 20px;
    }
}