.product{
    width: calc(25% - 40px);
    margin:20px;
    position: relative;
    top:0px;
    left:0px;
    overflow: hidden;
    cursor: pointer;
    h3,p{
       text-align: center;
    }
    &:hover{
        .product__in-cart{
            transform: translateX(0%);
        }
    }
    @include breakpoint-down(small){
        width: calc(50% - 40px);
        h3{
            font-size: pxToRem(14);
        }
    }
    @media (max-width:1024px) and (max-height:600px) and (orientation:landscape){
        width: calc(50% - 40px);
        h3{
            font-size: pxToRem(14);
        }
    }
    &__img{
        overflow: hidden;
        border-radius: 25px;
        height: 200px;
    }
    svg{
        width: 20px;
        height: 20px;
        color:yellow;
    }
    &__rating{
        text-align: center;
        position: relative;
        top:0px;
        left:0px;
        @include breakpoint-down(small){
            font-size: pxToRem(12);
            span{
                position: relative;
                top:-3px;
                left:0px;
            }
        }
        span{
            margin-left: 10px;
        }
    }
    &__rating-mask{
        position: absolute;
        top:0px;
        left:-20px;
        background-color: white;
        width: 10px;
        height: 20px;
    }
    &__in-cart{
        position: absolute;
        top:100px;
        right:0px;
        z-index: 10;
        padding: 10px 20px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: bold;
        font-style: italic;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }
}