.home__browse{
    h2{
        margin:50px 0px;
        text-align: center;
        font-size: pxToRem(40);
    }
    padding:40px;
    border-radius: 25px;
    background-color: #F0F0F0;
    @include breakpoint-down(small){
        padding: 40px 10px;
    }
    &-items{
        @include flex(row,space-between,center,wrap);
    }
}