.home__customers{
    &-icons{
        @include flex(row,flex-start,center,null);
    }
    &-carousel{
        overflow: hidden;
        width: 100%;
        height: 400px;
        @include flex(row,flex-start,center,null);
    }
    &-carousel-view{
        @include flex(row,space-between,center,null);
        transition: all 1s ease-in-out;
    }
}