.home__customers-item{
    margin:0px 20px;
    width: 400px;
    height: 300px;
    svg{
        color:yellow;
    }
    h3{
        margin:10px 0px;
        font-weight: bold;
    }
    p{
        font-style: italic;
        width: 85%;
    }
}